html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3b65c1;
  display: flex;
  min-height: 100vh;
  align-items: center;

  background-image:
  radial-gradient(circle at 100% 150%, #3b65c1 24%, #4280d2 25%, #4280d2 28%, #3b65c1 29%, #3b65c1 36%, #4280d2 36%, #4280d2 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #3b65c1 24%, #4280d2 25%, #4280d2 28%, #3b65c1 29%, #3b65c1 36%, #4280d2 36%, #4280d2 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #4280d2 10%, #3b65c1 11%, #3b65c1 23%, #4280d2 24%, #4280d2 30%, #3b65c1 31%, #3b65c1 43%, #4280d2 44%, #4280d2 50%, #3b65c1 51%, #3b65c1 63%, #4280d2 64%, #4280d2 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #4280d2 5%, #3b65c1 6%, #3b65c1 15%, #4280d2 16%, #4280d2 20%, #3b65c1 21%, #3b65c1 30%, #4280d2 31%, #4280d2 35%, #3b65c1 36%, #3b65c1 45%, #4280d2 46%, #4280d2 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #4280d2 5%, #3b65c1 6%, #3b65c1 15%, #4280d2 16%, #4280d2 20%, #3b65c1 21%, #3b65c1 30%, #4280d2 31%, #4280d2 35%, #3b65c1 36%, #3b65c1 45%, #4280d2 46%, #4280d2 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.voiceinator {
  padding: 2rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: white;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: .5rem;
  background: #0077ff;
  border-bottom: 5px solid #0077ff;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: #f9f9f9;
  font-family: 'helvetica', sans-serif;
  /* text-shadow: 3px 3px 0 #ffffff; */
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: #F7F7F7;
  outline: 0;
}

textarea {
  height: 20rem;
}

.voiceinator button {
  background: #0077ff;
  border: 0;
  width: 49%;
  float: left;
  font-family: 'helvetica', sans-serif;
  margin-bottom: 0;
  font-size: 2rem;
  color: #f9f9f9;
  border-bottom: 5px solid #0077ff;
  cursor: pointer;
  position: relative;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
